@import '../../partial';

.TypeBar {
    width: 23rem;
}

.TypeBar-item {
    width: 100%;
    @extend %item-bar;

    &:hover {
        @extend %box-shadow;
    }
}

.TypeBar-item_btn_remove {
    color: rgba(179, 3, 3, 0.877)!important;
    border-color: rgba(179, 3, 3, 0.877)!important;
}