@import '../../../partial';

.form-select {
    width: 100%;
    margin-top: 1rem;
}

.select-button {
    width: 100%;
    padding: 1rem;
    background-color: #2A0671;
    border: 1px solid $basic-color;
    color: #fff;
    font-size: 1.4rem;

    cursor: pointer;

    &:hover {
        @extend %box-shadow;
    }
}

.list-options {
    border: none;
    background-color: transparent;
}

.list-options__item {
    border-bottom: 1px solid $basic-color;
    padding: 1rem;
    font-size: 1.4rem;
    color: $basic-color;

    cursor: pointer;
}